In [1]:
import pandas as pd
from pathlib import Path

In [2]:
base_path = Path('/d/data/plasmo/')

In [39]:
meta_path = base_path / 'SraRunTable.tsv'
meta_df = pd.read_csv(meta_path, sep='\t', header=0, usecols=['Run', 'Sample_Name'])
meta_df['name'] = meta_df['Sample_Name'].apply(lambda x: x[22:] if x.startswith('Plasmodium') else x)
meta_df = meta_df.set_index('Run').drop('Sample_Name', axis=1)

In [40]:
meta_df

               name
Run
SRR1605090  NHP4764
SRR1605091  NHP4859
SRR1605092  NHP4779
SRR1605093  NHP4839
SRR1605094  NHP4788
...             ...
SRR1605908  OHP1525
SRR1606211   OHP102
SRR1606212   OHP341
SRR1606213  NHP4126
SRR1606214  NHP4224

[494 rows x 1 columns]

In [41]:
used_path = base_path / 'training_data' / 'meta_v2.txt'
used_df = pd.read_csv(used_path, sep='\t', header=0)
used_df['id'] = used_df['name'].apply(lambda x: x[:-3])
used_df = used_df.set_index('id').drop('name', axis=1)

In [44]:
res = used_df.merge(meta_df, how='inner', left_index=True, right_index=True)

In [45]:
res.to_csv('/d/data/plasmo_training_1_names.csv')

In [47]:
ts2_path = base_path / 'nat_out/v3/nat_v3.tsv'
with open(ts2_path, 'r') as in_file:
    names = in_file.readline().strip().split('\t')

In [51]:
with open('/d/data/plasmo_training_2_names.tsv', 'w') as out_file:
    out_file.write('\t'.join(names[2:]))